<br>
<br>
<div class="toflex">
    <div class="box">
        <h2>About</h2>
        <!-- <img src='../../../../assets/womanexample.jpg' class="aboutimg"> -->
        <p>
            Coming up with a character can be hard work. I'm someone who can create a character within five minutes but I'll struggle with coming up with 
            a name or an appearance. And this is something that I know quite a few people struggle with.
        </p>
        <p>
            So i put my Angular skills to good use and have pulled an API that's used for creating names and randomly generating information to go with it.
            This API is generally used to create false data for designs and mock-ups and can still be used for that here. But I encourage to use this generator
            as a starting point.
        </p>
        <p>
            Whether you want a side character for your book, a new character for an RPG or just want to play around with your character creation skills. Use this
            generator to give you a little bit of a jump-start.
        </p>
        <p>
            The pictures used in this generator come from Unsplash.com and are limited. They are licensed for free use so if you don't like the one you get then
            you can go onto their site and search for more.
        </p>
    </div>
</div>
